<div class="grid-wrapper">
  <div class="grid" style="grid-template-columns: repeat({{ section.settings.columns }}, 1fr);">
    {% case section.settings.item_type %}
      {% when 'product' %}
        {% for product in products %}
          {% render 'product-item', product: product %}
        {% endfor %}
      {% when 'article' %} {% comment %} NO ARITCLES EXIST YET {% endcomment %}
        {% for article in articles %}
          <div class="article-item">
            <a href="{{ article.url }}">
              <img src="{{ article.image | img_url: 'large' }}" alt="{{ article.title }}">
              <p>{{ article.title }}</p>
            </a>
          </div>
        {% endfor %}
    {% endcase %}
  </div>
</div>

{% schema %}
{
  "name": "Grid",
  "settings": [
    {
      "type": "range",
      "id": "columns",
      "label": "Number of Columns",
      "min": 2,
      "max": 6,
      "default": 4
    },
    {
      "type": "select",
      "id": "item_type",
      "label": "Item Type",
      "default": "product",
      "options": [
        {
          "value": "product",
          "label": "Product"
        },
        {
          "value": "article",
          "label": "Article"
        }
      ]
    }
  ]
}
{% endschema %}
